<%- include('../includes/admin-header.ejs') %>
<%- include('../includes/admin-navbar.ejs') %>
<%- include('../includes/admin-sidebar.ejs') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    
    </div>

    <div class="container pt-4 px-4">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
              <form action="/cakemania.ng/admin/cakes/add-cake" method="post"> <!-- Replace "/submit-product" with your actual form submission URL -->
                  <div class="add-cake-form rounded h-100 p-4">
                      <h3 class="mb-4">Add Cake</h3>

                      <% if (message) { %>
                        <div class="error-message"><%= message %></div>
                    <% } %>

                    <% if (successMessage) { %>
                      <div class="success-message"><%= successMessage %></div>
                  <% } %>
                      <div class="mb-3">
                        <label for="cakeName">Cake Name</label>
                        <input type="text" class="form-control" id="cakeName" name="cakeName"placeholder="Cake Name">
                      </div>

                      <div class=" mb-3">
                        <label for="category">Category</label>
                        <select class="form-select" id="category" name="category"
                            aria-label="Cake label select example">
                            <option selected>Select Category</option>
                            <option value="1">Wedding Cakes</option>
                            <option value="2">Birthday Cakes</option>
                            <option value="3">Cupcakes</option>
                            <option value="4">Christmas Cakes</option>
                            <option value="5">Desserts</option>
                            <option value="6">Kiddies Cakes</option>
                        </select>
                        
                    </div>

                    <div class="mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" placeholder="Enter Product Description..."
                            id="description" name="description" style="height: 150px; resize: none"></textarea>
                    </div>

                    
                      <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                          <input type="text" placeholder="Enter image url" class="form-control" id="image" name="image">
                      </div>

                      <div class="mb-3">
                        <label for="flavour">Flavours</label>
                        <input type="text" placeholder="Enter cake flavours" class="form-control" id="flavour" name="flavour">
                             
                      </div>
  
                      <div class=" mb-3">
                        <label for="price">Price</label>
                          <input type="text" class="form-control" id="price" name="price"
                              placeholder="Enter Price">
                
                      </div>
                     
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  

  </main>
</div>
</div>



<%- include('../includes/admin-footer.ejs') %>