<%- include('../includes/admin-header.ejs') %>

<%- include('../includes/admin-sidebar.ejs') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    

      <!-- Recent Sales Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Products</h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Flavours</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% adminCakes.forEach(cakes => { %>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><img src="<%= cakes.image%>" class="img-fluid"></td>
                            <td><%= cakes.cakeName%></td>
                            <td><%= cakes.category%></td>
                            <td><%= cakes.description%></td>
                            <td><%= cakes.flavour%></td>
                            <td><%= cakes.price%></td>
                            
                            <td><a class="btn btn-sm btn-warning" href="/cakemania.ng/admin/cakes/edit-cake/<%=cakes.cakeID%>">Edit</a></td>

                     
                            <td><a class="btn btn-sm btn-danger trigger-btn" href="#myModal-<%= cakes.cakeID %>" data-bs-toggle="modal" >Delete</a></td>

                            <%- include('../includes/cake-modal.ejs', { cakeID: cakes.cakeID }) %>

                        </tr>
                        
                        <% }); %>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->

  </main>
</div>
</div>


<%- include('../includes/admin-footer.ejs') %>