<%- include('../includes/admin-header.ejs') %>
<%- include('../includes/admin-navbar.ejs') %>
<%- include('../includes/admin-sidebar.ejs') %>


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="container pt-4 px-4">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
              <form id="edit-cake-form" action="/cakemania.ng/admin/cakes/edit-cake/<%=cake.cakeID%>?_method=PUT" method="post"> <!-- Replace "/submit-edit-product" with your actual form submission URL -->
                  <div class="cake-container rounded h-100 p-4">
                      <h3 class="mb-4">Edit Cake</h3>

                        <% if (message) { %>
                          <div class="success-message"><%= message %></div>
                      <% } %>

                        <div class="mb-3">
                            <label for="cakeName">Cake Name</label>
                            <input type="text" class="form-control" id="cakeName" name="cakeName" value="<%= cake.cakeName%>">
                          </div>
    
                          <div class=" mb-3">
                            <label for="category">Category</label>
                            <select class="form-select" id="category" name="category" aria-label="Cake label select example">
                                <% const cakeCategoryId = cake.category; %>
                                <option value="1" <%= cakeCategoryId === 1 ? 'selected' : '' %>>Wedding Cakes</option>
                                <option value="2" <%= cakeCategoryId === 2 ? 'selected' : '' %>>Birthday Cakes</option>
                                <option value="3" <%= cakeCategoryId === 3 ? 'selected' : '' %>>Cupcakes</option>
                                <option value="4" <%= cakeCategoryId === 4 ? 'selected' : '' %>>Christmas Cakes</option>
                                <option value="5" <%= cakeCategoryId === 5 ? 'selected' : '' %>>Desserts</option>
                                <option value="6" <%= cakeCategoryId === 6 ? 'selected' : '' %>>Kiddies Cakes</option>
                              </select>
                        </div>
    
                        <div class="mb-3">
                            <label for="description">Description</label>
                            <textarea class="form-control" placeholder="Enter Product Description..."
                                id="description" name="description" style="height: 150px; resize: none"><%= cake.description%></textarea>
                        </div>
    
                        
                          <div class="mb-3">
                            <label for="image" class="form-label">Image URL</label>
                              <input type="text" placeholder="Enter image url" class="form-control" id="image" name="image" value="<%= cake.image%>">
                          </div>
    
                          <div class="mb-3">
                            <label for="flavour">Flavours</label>
                            <input type="text" placeholder="Enter cake flavours" class="form-control" id="flavour" name="flavour" value="<%= cake.flavour%>">
                                 
                          </div>
      
                          <div class=" mb-3">
                            <label for="price">Price</label>
                              <input type="text" class="form-control" id="price" name="price"
                                  placeholder="Enter Price" value="<%= cake.price%>">
                    
                          </div>
                      
  
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
  </main>
</div>
</div>



<%- include('../includes/admin-footer.ejs') %>