<%- include('../includes/admin-header.ejs') %>
<%- include('../includes/admin-navbar.ejs') %>
<%- include('../includes/admin-sidebar.ejs') %>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>

      </div>
      
       <!-- Sale & Revenue Start -->     

       <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <% admin.forEach(admin => { %>

                <div class="col-sm-6 col-xl-6 ">
                    <div class="rounded d-flex align-items-center justify-content-between p-4 sales">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-0">
                            <h3 class="mb-0">Hi <%= admin.firstName %></h3>
                        </div>
                    </div>
                </div>
            
            
                <div class="col-sm-6 col-xl-6">
                    <div class="rounded d-flex align-items-center
                    justify-content-between p-4 sales">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-0">
                            <h4 class="mb-0">No of cakes available: <%= adminCakes.length %></h4>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
         </div>
    <!-- Sale & Revenue End -->


    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="text-center rounded p-4 sales">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Cakes</h6>
                        <a href="/cakemania.ng/admin/cakes">Show All</a>
                    </div>
                    <div class="table-responsive">

                        <table class="table text-start align-middle table-bordered table-hover mb-0 orders">
                            
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% adminCakes.slice(0, 3).forEach(cakes => { %>
                                <tr>
                                    <td><%= cakes.cakeName%></td>
                                    
                                    <td><%= cakes.category%></td>
                                    <td><%= cakes.price%></td>
                                    
                                    <td><a class="btn btn-sm btn-primary" href="">Details</a></td>
                                </tr>
                                <% }); %>
                                
                            </tbody>
                        
                            
                        </table>
                        
                        
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-12 col-xl-6">
                <div class="text-center rounded p-4 sales">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Categories</h6>
                        <a href="/cakemania.ng/admin/categories">Show All</a>
                    </div>
                    <div class="table-responsive">

                        <table class="table text-start align-middle table-bordered table-hover mb-0 orders">
                            
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Name</th>
                                    <th scope="col">Category ID</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.slice(0, 3).forEach(category => { %>
                                <tr>
                                    <td><%= category.categoryName%></td>
                                    <td><%= category.categoryID%></td>
                                    
                                    <td><a class="btn btn-sm btn-primary" href="">Details</a></td>
                                </tr>
                                <% }); %>
                                
                            </tbody>
                            
                        </table>
                           
                    </div>
                    
                    
                </div>
            </div>

            <div class="col-sm-12 col-xl-6">
                <div class="text-center rounded p-4 sales">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Sales & Revenue</h6>
                        <a href="">Show All</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Sales Chart End -->


    <!-- Orders Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="text-center orders rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">  Orders </h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0 orders">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Date</th>
                            <th scope="col">Invoice</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01 Jan 2045</td>
                            <td>INV-0123</td>
                            <td>Jhon Doe</td>
                            <td>$123</td>
                            <td>Delivered</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Orders End -->
    </main>
  </div>
</div>



<%- include('../includes/admin-footer.ejs') %>

        <!-- <div>
        <p>Hi <%= admin.firstName %></p>
        <p>Email: <%= admin.email %></p>
        <p>Gender: <%= admin.gender %></p>
        </div>
        <div>
        <p>Phone no: <%= admin.phone %></p>
        <p>Address: <%= admin.address %></p>
        <p>No of cakes: <%= adminCakes.length %></p>
        </div> -->