<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>


<div class="container-fluid cake-container overlay">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h1 class="text-center"> Bite into Happiness <br> Savor the Sweetness of our delicous cakes </h1>
            
        </div>
    </div>
</div>

<div class="container filter-container">
    <div class="row">
        <!-- Filter Options -->
        <div class="col-md-3">
            <h4>Filter Options</h4>
            <form>
                <div class="mb-3 mt-3">
                    <label for="priceRange" class="form-label">Price Range</label>
                    <input type="range" class="form-range" id="priceRange">
                </div>
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </form>
        </div>

        <!-- Product Cards -->
        <div class="col-md-9 products-section">
            <h4 class="text-center category-desc"> All Products </h4>
           
           
            <div class="row">
                <% cakes.forEach(cake => { %>

                    <div class="col-md-3">
                        <div style="height: 550px;" class="card product-card position-relative">
                            <a href="/cakemania.ng/cakes/details/<%= cake.cakeID %>">
                                <img style="height: 300px;" src="<%= cake.image %>" class="card-img-top img-fluid" alt="Cake Image">
                            </a>
                            
                            <div class="card-body">
                                <h5 class="card-title"><%= cake.cakeName.slice(0, 20)%></h5>
                                <p class="card-text"><%= cake.description.slice(0, 50) %></p>
                                <p class="card-text">₦<%= cake.price %></p>
                            </div>
    
                            <div class="add-to-cart-btn btn btn-success"><a style="text-decoration: none; color: white;" href="/cakemania.ng/cakes/details/<%= cake.cakeID %>">Add to Cart</a>
                                </div>
                        </div>
                    </div>

                 
                <% }) %>
               
                
    

            </div>
        </div>
    </div>
</div>




<%- include('./includes/footer.ejs') %>
