<%- include('./includes/header.ejs') %>

<%- include('./includes/navbar.ejs') %>


<!-- Your page content goes here -->

<div class="container-fluid cake-container overlay">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h1 class="text-center">Cake Mania</h1>
            <p class="text-center overlay-text"> Home of tasteful cakes </p>
            <div class="text-center">
                <a href="#" class="btn btn-lg btn-primary shop-btn">Shop Now</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 categories"> 
            <h2 class="category-desc">Popular Categories</h2> 
        </div>

        <% allCategories.forEach(category => { %>
            <div class="col-xs-12 col-sm-12 col-md-4 card-content">
                <div class="card rounded-3">
                    <a href="/cakemania.ng/cakes/category/<%=category.categoryID%>">
                        <img src="<%= category.categoryImage %>" width="200" height="200" class="card-img-top img-fluid rounded-3" alt="Images of the cake categories">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><%= category.categoryName %></p>
                    </div>
                </div>
            </div>
        <% }); %>

        
    </div>
</div>


<%- include('./includes/footer.ejs') %>
