<%- include('./includes/header.ejs') %> <%- include('./includes/navbar.ejs') %>

<!-- Your page content goes here -->
<div class="container mt-5 mb-5">
  <div class="row">
    <form
      class="order-form d-flex justify-content-between"
      action="/cakemania.ng/users/confirm-order?_method=POST/" method="post"
    >
      <div class="col-md-7">
        <!-- col-md-8 to align to the left -->
        <div class="container main-cart-contents rounded-3">
          <div class="row">
            <div class="col-md-12 mt-3 mb-4">
              <h4>
                CUSTOMER ADDRESS <span class="float-end"> Change > </span>
              </h4>
              <hr />
              <div class="col-md-6 mb-3">
                <h5><%= user.firstName %> <%= user.lastName %></h5>
              </div>

              <div class="col-md-3 mb-3">
                <label for="deliveryPhoneNo" class="form-label">Phone Number</label>
                <input class="form-control" value="<%= user.phoneNo %>" name="deliveryPhoneNo" type="text">
                
              </div>

              <div class="col-md-8 mb-3">
                <label for="deliveryAddress" class="form-label">Delivery Address</label>
                <textarea
                  class="form-control"
                  name="deliveryAddress"
                  id="address"
                  rows="4"
                >
<%= user.address%></textarea
                >
              </div>

              <div class="col-md-6 mb-3">
                <label for="deliveryState" class="form-label">State</label>
                <select class="form-select" id="state" name="deliveryState">
                  <!-- Add options for states -->\
                  <option>Select State</option>
                  <option value="Lagos" selected>Lagos</option>
                  <!-- Add more options as needed -->
                </select>
              </div>

              <%- include('./includes/user-lga.ejs') %>
            </div>
          </div>
        </div>
      </div>
      <!--End div class col-md-8 left container shopping cart items -->

      <!--Beginning of order summary-->
      <div class="col-md-4 order-summary-container rounded-3">
        <!-- col-md-3 to align to the right cart summary and checkout button -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center"></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 cart-div">
              <h3>Order Summary</h3>
              <hr />
              <div>
                <p>Cake total (<%= allCartItems.length %>)</p>

                <% allCartItems.forEach(item => { %>
                <p>
                  - <%= item.Cake.dataValues.cakeName %> (<%= item.quantity %>):
                  <span class="float-end">₦<%= item.price %> </span>
                </p>

                <% }) %>
                <hr />

                <p>Delivery Fees: <span class="float-end"> ₦0 </span></p>
                <p>
                  Total: <span class="float-end"> ₦ <%= orderTotal %> </span>
                </p>
              </div>

              <div class="d-grid gap-2 mb-4">
                <button type="submit" class="btn btn-info buy-now-btn rounded-3">
                  Confirm Order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End of main-cart-contents div -->

<%- include('./includes/footer.ejs') %>
